.popup__close {
  background-image: url(../../../images/close.svg);
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
}

@media (max-width: 550px) {
  .popup__close {
    background-image: url(../../../images/close-320.svg);
    top: -36px;
    right: 0;
    width: 20px;
    height: 20px;
  }
}