.profile__cover {
  border-radius: 40%;
  width: 120px;
  height: 120px;
  cursor: pointer;
  background-color: #000;
  background-image: url(../../../images/pan.svg);
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.profile__cover:hover {
  opacity: 0.8;
}